<form [formGroup]="newEmployee" (ngSubmit)="addEmployee()">
    <!-- <input type="hidden" formControlName="id"> -->

    <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control" formControlName="name" aria-describedby="emailHelp"
            placeholder="Enter Name">
        <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
            <div *ngIf="name.errors.required">
                Name is required.
            </div>
        </div>
    </div>
    <div class="form-group">
        <label>Role</label>
        <input type="text" class="form-control" formControlName="role" aria-describedby="emailHelp"
            placeholder="Enter Role">
        <div *ngIf="role.invalid && (role.dirty || role.touched)" class="alert alert-danger">
            <div *ngIf="role.errors.required">
                Role is required.
            </div>
        </div>
    </div>
    <button *ngIf="!isUpdateEmployee" type="submit" class="btn btn-primary">Submit</button>
    <button *ngIf="isUpdateEmployee" type="submit" class="btn btn-warning">Update</button>
</form>